<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProLancer</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <div class="wrapper">
        <div class="container-nav">
            <h1>ProLancer</h1>
            <nav class="nav">
                <a href="/contatos">Contato</a>
                <a href="/register">Cadastro</a>
                <a href="/login">Login</a>
            </nav>
        </div>

        <div class="container-conteudo">
            <div class="container-left-home">
                <h1>Encontre trabalho fácil</h1>
                <p>Projeto ProLancer é para aqueles que precisam de uma graninha extra.</p>
                <button>Saiba mais</button>
            </div>
            <div class="container-right-home">
                <div class="img-home">
                    <!-- <img src="img1.png"> -->
                </div>
            </div>
        </div>

    </div>

</body>

</html>